*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

:root {
  --primary-color: #2C3333; 
  --secondary-color: #395B64; 
  --accentOne-color: #A5C9CA; 
  --accentTwo-color: #E7F6F2; 
  --netral-color: #f7f7f7;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

body{
  overflow-x: hidden;
}

main{
  width: 70rem;
}

@media screen and (max-width:576px){
    main{
        position: static;
        left: auto;
        transform: none;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width:576px) and (max-width:786px){
    main{
        position: static;
        left: auto;
        transform: none;
        width: 100%;
        padding: 2rem;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width:786px) and (max-width:1080px){
    main{
        position: static;
        left: auto;
        transform: none;
        width: 100%;
    }
}