.footer{
    font-family: 'Poppins';
    color: var(--netral-color);
    height: 3rem;
    font-size: 0.9em;
    margin-top: 4rem;
}

@media screen and (max-width:576px){
    .footer{
        font-size: 0.7em;
    }
}